.header-page {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
}

.nav-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.container.header-container {
  display: flex;
  align-items: center;
  // !
  justify-content: space-between;
}

.link.current {
  position: relative;
  display: inline-block;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -217%;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.site-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.site-link-contacts {
  color: var(--text-main-color);
  text-decoration: none;

  // display: flex;
  // justify-content: center;
  // padding-top: 2px;
  // padding-bottom: 2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 1199px) {
  .site-contacts-item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts-item {
    &.mail-with-margin {
      margin-right: 50px;
    }
  }
}

.contact-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: text-top;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .site-contacts {
    display: none;
  }
}
