.hero {
  border-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../img/hero/hero_bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  &-title {
    color: #ffffff;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../img/hero/hero_bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../img/hero/hero_bg-tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../img/hero/hero_bg-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;

    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../img/hero/hero_bg-desktop.jpg');
  }

  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-container {
    max-width: 700px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 200px;
    padding-top: 200px;
  }

  .hero-title {
  }
}
