.main-button {
  padding: 10px 32px;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// BUTTON FOR FOOTER

.main-button.send-btn {
  padding-right: 28px;
  padding-left: 28px;

  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    vertical-align: top;

    background-image: url(../img/icons/send.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

// BUTTON FOR MODAL WINDOW

.main-button.send-modal-btn {
  display: block;
  padding-right: 55px;
  padding-left: 55px;
  margin-right: auto;
  margin-left: auto;
}

// BUTTON FOR FILTER LIST

.filter-list-item > .button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-button);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin-right: 8px;

  border: none;
  padding: 6px 22px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
