.logo {
  color: #2196f3;
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;

  &.logo-for-header {
    @media screen and (max-width: 767px) {
      margin-right: 88px;
    }

    @media screen and (max-width: 1199px) {
      margin-right: 93px;
    }
  }

  &-header {
    color: #212121;
  }

  &.logo-for-footer {
    display: block;
    margin-bottom: 20px;
  }

  &-footer {
    color: #ffffff;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}
