.social-list {
  display: flex;
  justify-content: center;
}

.social-link-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}

.social-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
}

.social-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer {
  display: flex;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}
